body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin:0 auto;
  height:750px;
  background-image: url(/images/cinema.jpg);
  background-repeat: no-repeat;
  background-position: center;
}